* {
	font-family: Roboto;
}

body {
	background-color: rgba(0, 0, 0, 0.1);
}

/* Section general styles */

section {
	width: 1160px;
	height: 45;
	margin: 0 auto;
}

section h1 {
	font-size: 30px;
	color: #616161;
	font-weight: 400;
	display: inline-block;
	width: 1130px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

section span {
	font-size: 18px;
	color: #9b9595;
	margin-right: 2px;
}

/* Color Section */

.container {
	display: flex;
	width: 1000px;
	height: 230px;
	margin-left: 50px;
	margin-top: 20px;
	justify-content: space-between;
}

.color-container {
	display: flex;
}

.color-pallette {
	background-color: #fff;
	position: relative;
	width: 286px;
	height: 166px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.color-container div {
	width: 95.33px;
	height: 83.44px;
}

.color-pallette h3 {
	margin-top: 5px;
	margin-left: 10px;
	margin-bottom: 3px;
}

.color-pallette p {
	margin: 0 10px;
	padding: 0;
	font-size: 13px;
}

.gray-light {
	background-color: #4d4d4d;
}
.gray-med {
	background-color: #333333;
}
.gray-dark {
	background-color: #191919;
}
.lightgray-light {
	background-color: #f8f8f8;
}
.lightgray-med {
	background-color: #f4f4f4;
}
.lightgray-dark {
	background-color: #ededed;
}
.aqua-light {
	background-color: rgb(77, 224, 180);
}
.aqua-med {
	background-color: #00d394;
}
.aqua-dark {
	background-color: #00b385;
}

/* Font Families Section */

.font-container {
	display: flex;
	width: 1000px;
	color: #fff;
	justify-content: space-between;
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 50px;
}

.font-card {
	width: 480px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: flex;
}

.font-card .item-1 {
	width: 100px;
}

.font-card ul {
	list-style: none;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: 700;
}

.dark-bg {
	background-color: #191919;
}

.light-bg {
	background-color: #333333;
}


