* {
	font-family: Roboto, sans-serif;
}

body {
	background-color: rgba(0, 0, 0, 0.1);
}

.grid {
	display: grid;
}

/* Section general styles */

section {
	width: 1160px;
	height: 45;
	margin: 0 auto;
}

section h1 {
	font-size: 30px;
	color: #616161;
	font-weight: 400;
	display: inline-block;
	width: 1130px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

section span {
	font-size: 18px;
	color: #9b9595;
	margin-right: 2px;
}

/* Color Section */

.container {
	display: flex;
	width: 1000px;
	height: 230px;
	margin-left: 50px;
	margin-top: 20px;
	justify-content: space-between;
}

.color-container {
	display: flex;
}

.color-pallette {
	background-color: #fff;
	position: relative;
	width: 286px;
	height: 166px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.color-container div {
	width: 95.33px;
	height: 83.44px;
}

.color-pallette h3 {
	margin-top: 5px;
	margin-left: 10px;
	margin-bottom: 3px;
	font-size: 18px;
}

.color-pallette p {
	margin: 0 10px;
	padding: 0;
	font-size: 12px;
	color: #555353;
}

.gray-light {
	background-color: #4d4d4d;
}
.gray-med {
	background-color: #333333;
}
.gray-dark {
	background-color: #191919;
}
.lightgray-light {
	background-color: #f8f8f8;
}
.lightgray-med {
	background-color: #f4f4f4;
}
.lightgray-dark {
	background-color: #ededed;
}
.aqua-light {
	background-color: rgb(77, 224, 180);
}
.aqua-med {
	background-color: #00d394;
}
.aqua-dark {
	background-color: #00b385;
}

/* Font Families Section */

.font-container {
	display: flex;
	width: 1000px;
	color: #fff;
	justify-content: space-between;
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 50px;
}

.font-card {
	width: 480px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: grid;
	grid-template: 200px / 1fr 1fr 2fr;
}

/* .font-card .item-1 {
	width: 100px;
} */

.font-card ul {
	list-style: none;
}

.item-1 *,
.item-2 * {
	font-size: 13px;
}

.space-mono .item-1 *,
.space-mono .item-2 * {
	font-size: 12px;
}

.item-1 {
	margin-top: 38px;
	margin-left: 15px;
}

.item-1 strong {
	width: 100%;
}

.item-1 .styles {
	display: block;
	margin-top: 10px;
}

.item-2 {
	justify-self: start;
	align-self: center;
}

.item-2 p {
	margin: 0;
}

.item-2 ul {
	/* margin-right: 50px; */
	padding-left: 0;
	margin-top: 10px;
}

.item-3 {
	justify-self: center;
	margin-top: 20px;
}

.space-mono .item-3 {
	margin-top: -5px;
}

.item-3 h2 {
	font-size: 120px;
	margin: 0;
}

.space-mono h2 {
	margin-left: 5px;
}

.roboto .item-3 h6 {
	margin-left: 30px;
}

.item-3 h6 {
	margin-top: -15px;
	font-size: 25px;
}

.space-mono .item-3 h6 {
	margin-top: -35px;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: 700;
}

.dark-bg {
	background-color: #191919;
}

.light-bg {
	background-color: #333333;
}

.space-mono *{
	font-family: 'Space Mono', monospace;
}

/* Typography Section */

.typo .grid {
	grid-template: auto / 1fr 1fr;
}

.grid-item-1 span,
.grid-item-1 strong {
	display: block;
}

.grid-item-1 *{
	margin-top: 10px;
	margin-left: 30px;
}

.grid span{
	font-weight: 500;
	color: #555353;
	font-size: 18px;
}

.grid-item-2 {
	margin-top: 15px;
	margin-left: 30px;
}

.grid-item-2 p {
	font-size: 15px;
	color: #616161;
	width: 350px;
	margin-top: 30px;
}

#text-style {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
}
#text-style li {
	display: inline-block;
	margin-right: 30px;
	margin-top: 10px;
}

.grid-item-2 ul,
.grid-item-2 ol {
	padding-left: 0;
	margin-left: 20px;
}

.grid-item-2 ul {
	margin-top: 20px;
}


.h1 {
	font-size: 60px;
}
.h2 {
	font-size: 36px;
}
.h3 {
	font-size: 28px;
}
.h4 {
	font-size: 24px;
}
.h5 {
	font-size: 20px;
}
.h6 {
	font-size: 18px;
}

.link {
	color: #00BE85;
	text-decoration: underline;
}